<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Firefly Zero: modern handheld game console with multiplayer</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="icon" type="image/png" sizes="16x16" href="lamp-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="lamp-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="lamp-48x48.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="manifest" href="site.webmanifest">

    <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/brite/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      img.logo {
        width: 210px;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
      }

      .alert {
        background-color: rgba(255, 255, 255, 0.7);
      }

      .section {
        min-height: 60vh;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .section1 {
        background-image: url('device.webp#v2');
        background-position: right;
      }

      .section2 {
        background-image: url('multiplayer.webp#v2');
        background-position: left;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      {% block body %}
      {% endblock %}
    </div>
    <script src="https://unpkg.com/@botpoison/browser" async></script>
  </body>
</html>
