{% extends "base.html.j2" %}
{% block body %}

  <aside class="row mt-2 justify-content-center">
    {% for link in links %}
      <div class="col col-12 col-sm-6 col-md-4 col-lg-2 mb-1">
        <a href="{{ link.link }}" target="_blank" rel="me" class="btn btn-light" style="min-width: 100%">
          <i class="{{ link.icon }}"></i>
          {{ link.name }}
        </a>
      </div>
    {% endfor %}
  </aside>

  <header class="text-center">
    <img src="lux-outlined.png" class="logo"/>
  </header>
  <h1 class="text-center">Firefly Zero</h1>
  <p class="lead text-center">
    A modern handheld game console with effortless multiplayer.
    It's fun to play, alone or with friends, and easy to program.
  </p>

  <div class="row">
    <div class="col">
      <h2>For players</h2>
      <ul class="list-unstyled">
        {% for feature in features['for_players'] %}
          <li>
            <i class="{{ feature['icon'] }} fa-fw"></i>
            {{ feature['text'] }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2>For developers</h2>
      <ul class="list-unstyled">
        {% for feature in features['for_devs'] %}
          <li>
            <i class="{{ feature['icon'] }} fa-fw"></i>
            {{ feature['text'] }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Early adoption FAQ</h2>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-2">
    {% for point in faq %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="{{ point['icon'] }} fa-fw"></i>
              <b>{{ point['q'] }}</b>
            </h5>
            {% markdown %}{{ point['a'] }}{% endmarkdown %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Team</h2>
      <p class="text-center">
        We are geeks making gamedev fun and easy.
      </p>
    </div>
    <div class="col-6">
      <h2 class="text-center">Gram</h2>
      <p class="text-center">
        <i class="fa-solid fa-code"></i>
        Software
      </p>
      <p class="text-center">
        <a href="https://github.com/orsinium" target="_blank" type="button" class="btn btn-light">
          <i class="fa-brands fa-github"></i>
          github
        </a>
        <a href="https://fosstodon.org/@orsinium" target="_blank" type="button" class="btn btn-light">
          <i class="fa-brands fa-mastodon"></i>
          mastodon
        </a>
      </p>
    </div>
    <div class="col-6">
      <h2 class="text-center">Alex</h2>
      <p class="text-center">
        <i class="fa-solid fa-microchip"></i>
        Hardware
      </p>
      <p class="text-center">
        <a href="https://github.com/kopchik/" target="_blank" type="button" class="btn btn-light">
          <i class="fa-brands fa-github"></i>
          github
        </a>
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="text-center">Roadmap</h2>
    </div>
    <ul class="col-12 col-md-3 list-unstyled">
      {% for item in roadmap %}
        <li>
          <i class="fa-solid fa-fw {{ item['status'] }}"></i>
          {% if item['link'] %}
            <a href="{{ item['link'] }}" target="_blank">
              {{ item['text'] }}
            </a>
          {% else %}
            {{ item['text'] }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
