{% extends "base.html.j2" %}
{% block body %}
  <div class="text-center" style="margin-top: 10px">
    <img src="logo-placeholder.svg"/>
  </div>
  <h1 class="text-center">Firefly Zero</h1>
  <p class="lead text-center">
    A modern handheld game console with effortless multiplayer.
    It's fun to play, alone or with friends, and easy to program.
  </p>

  <hr/>
  <div class="row">
    <div class="col">
      <h2>For players</h2>
      <ul>
        {% for feature in features['for_players'] %}
          <li>{{ feature }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2>For developers</h2>
      <ul>
        {% for feature in features['for_devs'] %}
          <li>{{ feature }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Early adoption FAQ</h2>
    </div>
    <div class="col-12">
      <ul>
        <li>
          <b>What happens to my game if your startup fails?</b><br/>
          As one of our first steps, we plan a web emulator. And we already have
          a desktop emulator. Even if the physical device will never come to life,
          your game will still be playable online.
        </li>
        <li>
          <b>How to follow the progress?</b><br/>
          We're researching the best ways and platforms to stay in touch with the early adopters.
          Meanwhile, <a href="https://fosstodon.org/@orsinium" target="_blank">follow me on Mastodon</a>,
          I'll post announcements there.
        </li>
        <li>
          <b>What's the current status?</b><br/>
          We have an emulator working, and hardware in development. We also have published
          <a href="https://github.com/orsinium-labs/gamgee" target="_blank">gamgee</a>
          a proof of concept that runs WASM-4 games on PyBadge. It works great.
        </li>
        <li>
          <b>When can I buy it?</b><br/>
          We go with the flow. We focus on delivering the best product rather than
          delivering anything but fast. We'll make sure to provide a way to donate
          money for the cause. And when we have the prototype perfected,
          we plan launching a kickstarter campaign to raise money for the production.
        </li>
        <li>
          <b>How can I help?</b><br/>
          The most valuable help we can get is people who'll make
          games for the console and provide us feedback on all strugles they have.
          We want to perfect the development tooling and experience.
          But we need to settle some moving parts first.
        </li>
        <li>
          <b>Will it be open-source?</b><br/>
          Yes! Both software and hardware will be free and open-source.
          Our main profit will be from sellign physical units.
        </li>
      </ul>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Team</h2>
      <p class="text-center">
        We are just geeks making gamedev fun and easy.
      </p>
    </div>
    <div class="col-6">
      <h2 class="text-center">Gram</h2>
      <p class="text-center">Software</p>
      <p class="text-center">
        <a href="https://github.com/orsinium" target="_blank" type="button" class="btn btn-light">
          github
        </a>
        <a href="https://fosstodon.org/@orsinium" target="_blank" type="button" class="btn btn-light">
          mastodon
        </a>
      </p>
    </div>
    <div class="col-6">
      <h2 class="text-center">Alex</h2>
      <p class="text-center">Hardware</p>
      <p class="text-center">
        <a href="https://github.com/kopchik/" target="_blank" type="button" class="btn btn-light">
          github
        </a>
      </p>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Roadmap</h2>
    </div>
    <div class="col-12">
      <p class="text-center">
        We're getting things ready for alpha testing of the SDKs and development tools.
        Stay tuned!
      </p>
    </div>
  </div>

{% endblock %}
